---
layout: barefooter
permalink: /
title: A Notebook of Xiaodong Qi's
subtitle: Exploring the Open Quantum World
description: Xiaodong Qi's Notebooks and CV. Mostly relates to his research done at the Center for Quantum Information and Control (CQuIC), University of New Mexico.
---

<div class="row">
 <!-- <span> -->
 <div class="col-md-7 col-sm-12">
  <div class="row">
      {% for post in site.posts limit:4 %}
      {% include postsummary.html %}
      {% endfor %}
  </div>
  <div class="row">
    <div style="font-weight:bold; text-align:center;font-size:1.2em;">
     More posts: <i class="glyphicon glyphicon-chevron-left"></i> <a href="{{ site.baseurl }}/archives.html">by date, </a>
     <i class="glyphicon glyphicon-list"></i> <a href="{{ site.baseurl }}/categories.html">by category, </a>
     <i class="glyphicon glyphicon-tag"></i> <a href="{{ site.baseurl }}/tags.html">by tag</a>
    </div>
  </div>
     <br>
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <div class="row">
        <ul class="unstyled">
          <li style="margin:-10px -65px"> <img alt="QR Code" src="{{ site.baseurl }}/assets/img/qrcode.33561508.png" align="left" style="max-width:150px;"></li>
        </ul>
      </div>
      <div class="row">Go mobile.</div>
    </div>
    <div class="col-md-10 col-sm-10">
        <br>
       <p style="text-align:left; align:center;font-size:1.2em;margin-left:15px;"><a href="{{ site.baseurl }}/CV-XiaodongQi.pdf" onclick="var that=this;
       _gaq.push(['_trackEvent','Download','PDF',this.href]);
       setTimeout(function(){location.href=that.href;},200);
       return false;" class = "btn btn-default"><i class="fa fa-file-text-o fa-1x"></i>My CV in PDF.</a></p>
        <br>
       <div class="row">
        <ul class="unstyled" style="font-size:1.2em;line-height:1.5em; ">
          <li style="margin-left:-10px"> Office: 30 Physics and Astronomy Department</li>
          <li style="margin-left:-10px">         1919 Lomas Blvd NE, Albuquerque, NM 87131, USA</li>
        </ul>
       </div>
        <br>
       <div class="row">
           {% include socialbuttons_nostackexchangephy_nostarcount.html %}
           {% if site.repo %}<iframe class="github-btn" src="//ghbtns.com/github-btn.html?user={{site.orgname}}&repo={{site.repo}}&type=star&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="90px" height="40px" style="vertical-align:middle; margin-top:17px;"></iframe>{% endif %}
       </div>
     <!-- <br><br><br> -->
    </div>
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-sm-block visible-md-block"></div>
  </div>
 </div>
 <!-- </span> -->


 <div class="col-md-5 col-sm-12">

  <b>Xiaodong Qi</b> (<span font="sans-serif">戚晓东</span>)<br>

  <div class="team-member">
  <img class="img-responsive img-circle" alt="" src="{{ site.baseurl }}/assets/img/qi2016.jpg" align="right" width=200px>
  </div>

  I am a PhD candidate studying in quantum optics and quantum information theory with <a href="http://cquic.unm.edu/deutsch-group/">Prof. Ivan Deutsch</a> in
  <a href="http://cquic.org">the Center for Quantum Information and Control (CQuIC)</a> at the University of New Mexico (<a href="http://www.unm.edu">UNM</a>).
  <br>
  My research of interest is about the physics nature and implementations of information processing, which I regard as a foundation of efficiently solving some of the complicated problems that have been or will be throttling our society's continuous development--these
  problems are ranging from energy harvesting, material engineering to social network dynamics, which are usually computationally hard and resource-costly to model using conventional techniques.
  As a testbed, my starting point of the theoretical research builds on atom-nanophotonic quantum interfaces that are likely to be nanofabricated and controllable in physics labs by our dedicated experimental collaborators.
  <br>
  Beside my focus of research, I am also interested in extracting the information and the Tao of the nature and the realistic world, which, I hope,
  can help me decide where I am heading to in terms of focusing my efforts as well as test the systematic philosophy and methodology I have learned in the course of my research to maximize my contributions in a broad sense.
  This completes the circle and motivates me to engage with people in various backgrounds to seek truth from facts and to apply ideas in reality.
  <br>
  Posted here are some of my notes as a result of studying, to remind myself.
  I hope you will also find them useful and inspiring.

  <head><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></head>
  <a class="twitter-timeline" data-height="350" data-dnt="true" href="https://twitter.com/{{site.author.twitter}}">Tweets by @{{site.author.twitter}}</a>
 </div>
</div>
<!-- Add the extra clearfix for only the required viewport -->
<div class="clearfix visible-md-block"></div>
<hr>
<div class="row" style="margin:-10px 0 10px; align:center; vertical-align:middle; clear:both;">
  <!-- <div class="span12" align="center" vertical-align="middle"> -->
  <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        <span align="center" margin-top="-10px">Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author.name }} under the Creative Commons Attribution License or otherwise specified. </span></a>
  {% include coins.html %}
  <!-- </div> -->
  <br>
</div>
